body {

  background: #ffcc00}


h1 {color: purple}
h1 {background: yellow}
h1 {text-align: center}

ul li {
  color:pink}


.urgent {
  font-style:bold;
  font-size:2em;
  color: red;
  background:blue;
}

.responsive {max-width: 50%;
}


.sidebyside img {width: 48%}

@media only screen and (max-width: 600px) {
  body {
    background-color: blue;
  }
}
